pandas==2.0
pyarrow==11.0
numpy==1.24
sentence-transformers==2.2.2
huggingface-hub==0.21.0
tqdm==4.65
faiss-cpu==1.7.4
sqlalchemy==2.0
pyyaml==6.0
kagglehub==0.3.0
scikit-learn==1.2
accelerate==0.33.0
filelock==3.16.0
rank-bm25==0.2.2
requests==2.31.0
flashtext2

